.map__info {
    background-color: bisque;
    max-height: 83px;
    display: flex;
}

.info__col1{
    margin-left: 80px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: #292929;
}

.adress__phone{
    display: flex;
    flex-direction: row-reverse;
}

.info__col2{
    display: flex;
    align-items: flex-end;
}