

.team-list.team--version--desktop{
    display: flex;
    flex-direction: row;

    @include tablets {
        display: none;
    }
}

.team__item {
    margin-right: rem(20px);
    display: flex;
    flex-direction: column;
    align-items: center;

    &:last-child{
        margin-right: 0;
    }

    @include tablets {
        display: flex;
        margin-bottom: rem(10px);
        margin-right: 0;
    }
}
 
.member__photo {
    margin-bottom: rem(21px);
}

 
.team__title {
    color: var(--black, #292929);
    font-size: rem(21px);
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-align: center;

     width: rem(220px);
     display: inline-flex;
     background: transparent;
     border: none ;
     cursor: pointer;
}



    .title__triangle{
        content: '../../img/SVG/triangledown.svg';
    }

.title__triangle {
    position: relative;
    right: -12px;
    top: 8px;
}


.content__profession {
    color: #292929;
    text-align: center;
    font-size: rem(18px);
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.content__desc{
    color: #666;
    text-align: center;
    font-size: rem(18px);
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

.team__content {
    overflow: hidden;
    transition: height .3s;
    height: 0;

    @include tablets {
        height: 0px;
    }
}

// Мобильное меню

.team__list-mobile {
    display: none;
  
 

    @include tablets {
        display: flex;
        flex-direction: column;
    }
}

.team__list-mobile .team_item{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.team__item.active .title__triangle{
    transform:rotate(180deg);
}