.preview__container {
  width: 1100px;
  margin-left: 79px;
}

.preview_section {
  margin-top: 110px;
  width: 55%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.preview__title {
  color: var(--white, #fff);
  font-family: Alegreya Sans;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
}

.preview__desc {
  margin-top: 17px;
  color: var(--white, #fff);
  font-family: Alegreya Sans;
  font-size: 21px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.preview__btn {
  width: 156px;
  height: 60px;
  display: inline-flex;
  padding: 21px 41px;
  align-items: center;
  background: var(--Yellow, #fedb3f);
  cursor: pointer;
  border-radius: 100px;
  border: 1px solid transparent;
  color: #000;


  
  text-align: center;
  font-family: Alegreya Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 800;
  line-height: 18px;
}

.preview__btn:hover {
  background: var(--Yellow, #ffd000);
}

.features {
  margin-top: 65px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.feature__item {
  display: flex;
  width: 142px;
  height: 41px;
  justify-content: center;
  align-items: flex-start;
  gap: 11px;
  flex-shrink: 0;
}

.feature_desc {
  color: var(--white, #fff);
  font-family: Alegreya Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 18px;
}
